In [1]:
import psycopg2

# 해당 내용들은 깃에 업데이트가 되면 안되는 내용이다. 따라서 .env 파일을 이용해 보안을 적용해야 한다.
# 연결 파라미터 설정
conn_params = {
    'dbname': 'testdb',
    'user': 'postgres',
    'password': '1234',
    'host': 'localhost',  # 데이터베이스 서버가 로컬에 있을 경우
}

# 데이터베이스 연결 시도
try:
    conn = psycopg2.connect(**conn_params) # conn 객체 생성
    print("데이터베이스에 성공적으로 연결되었습니다.")
except psycopg2.Error as e:
    print("데이터베이스 연결 중 오류가 발생했습니다.")
    print(e)

데이터베이스에 성공적으로 연결되었습니다.

In [2]:

# 객체 생성 확인
conn

In [3]:
# 커서 객체 생성
cur = conn.cursor() # conn에 무언가 시키려면 cursor 객체를 생성해야 한다.

# SQL 쿼리 실행: 테이블 생성
create_table_query = """
CREATE TABLE IF NOT EXISTS users (
    id SERIAL PRIMARY KEY,
    name VARCHAR(50),
    age INT
);
"""
cur.execute(create_table_query)
conn.commit()  # 쿼리 결과를 데이터베이스에 반영

print("테이블이 성공적으로 생성되었습니다.")

테이블이 성공적으로 생성되었습니다.

In [4]:
# 데이터 삽입 쿼리
insert_query = """
INSERT INTO users (name, age) VALUES (%s, %s);
"""
# 데이터 삽입 실행
cur.execute(insert_query, ('Lion', 100))
conn.commit()

print("데이터가 성공적으로 삽입되었습니다.")

데이터가 성공적으로 삽입되었습니다.

In [7]:
text = "hello {}".format("world")
print(text)
text1 = "hello %s"%("world")
print(text1)
val = "world"
text2 = f"hello {val}"
print(text2)

hello world
hello world
hello world

In [9]:
# 데이터 삽입 쿼리
insert_query = """
INSERT INTO users (name, age) VALUES ('{}', {});
""".format('tiger', 20)
# 데이터 삽입 실행
cur.execute(insert_query, ('Lion', 100))
conn.commit()

print("데이터가 성공적으로 삽입되었습니다.")

InFailedSqlTransaction: 오류:  현재 트랜잭션은 중지되어 있습니다. 이 트랜잭션을 종료하기 전까지는 모든 명령이 무시될 것입니다

In [10]:
# 데이터 조회 쿼리
select_query = "SELECT * FROM users;"

# 쿼리 실행
cur.execute(select_query)

# 모든 결과 행 가져오기
rows = cur.fetchall()

for row in rows:
    print(row)

InFailedSqlTransaction: 오류:  현재 트랜잭션은 중지되어 있습니다. 이 트랜잭션을 종료하기 전까지는 모든 명령이 무시될 것입니다

In [11]:
# 자원 정리
cur.close()
conn.close()

In [ ]:
# context manager 
# 자원을 읽고 쓰고 하는
with open('text.txt', 'w') as f: # 외부의 자원을 취득하고 해제하고 : with을 사용
    f.write('hello')

# with 없이 사용하려면
f = open('text.txt', 'w')
f.write("world")
f.close() # 자원 해제
# with을 사용하지 않으면 자원을 해제하는 코드를 작성하는데 신경써야 한다.

# 24-03-27 아기사자반

In [1]:
import psycopg2

## 1. connection (postgresql db와 연결)

In [ ]:
conn_config = {
    'host' : 'hanslab.org',
    'user' : 'postgres',
    'password' : '',
    'dbname' : 'testdb',
    'port' : 25432
}

conn_lion = psycopg2.connect(**conn_config) 

# 안의 인자들은 보안때문에 외부 노출하면 안됨 : .env 파일 사용
# ** : 안의 내용을 풀어온다.

## 2. cursor 생성

In [ ]:
cur = conn_lion.cursor() # 커서 생성
# 커서 생성하여 다양한 쿼리문을 날릴 수 있다.
# 쿼리문은 db에 명령을 내리는 sql 문이다.

## CRUD
- C : CREATE -> insert (psycopg2 명령어)
- R : READ -> select
- U : UPDATE -> update
- D : DELETE -> delete

In [ ]:
# create
sql = "insert into actor (first_name, last_name) values ('승희', '이');" # 쿼리문 생성
cur.execute(sql) # 쿼리문 실행(execute)
conn_lion.commit() # 커밋을 해야지 반영됨

In [ ]:
# create upgrade
# 파이써닉 하게 f string 사용하여 아래와 같이 자동화할 수 있다.
first_name = '충림'
last_name = '방'
sql = f"insert into actor (first_name, last_name) values ('{first_name}', '{last_name}');"
cur.execute(sql)
conn_lion.commit()

In [ ]:
# create upgrade 2
first_name = '봄이'
last_name = '이'
sql = "insert into actor (first_name, last_name) values ('{}', '{}');".format(first_name, last_name)
cur.execute(sql)
conn_lion.commit()

In [ ]:
# read
sql = "select * from actor"
cur.execute(sql)
# read의 경우 값을 받아와야함으로
rows = cur.fetchall() # fetchall 메서드 사용하여 불러온다
for row in rows:
    print(row)

In [ ]:
# update
sql = "update actor set last_name = 'LEE' where last_name = '이';"
cur.execute(sql)
conn_lion.commit()

In [ ]:
# delete
sql = "delete from actor where first_name = '룡';"
cur.execute(sql)
conn_lion.commit()

In [ ]:
# create table
sql = '''create table users_tiger(
    id serial primary key, 
    name varchar(10));'''
cur.execute(sql)
conn_lion.commit()

# 클래스로 만들기

In [ ]:
# DB class
class DataBase:
    def __init__(self):
        self.conn_config = {
            'host' : 'hanslab.org',
            'user' : 'postgres',
            'password' : '',
            'dbname' : 'testdb',
            'port' : 25432
        }
        self.conn_lion = psycopg2.connect(**self.conn_config)
        self.cur = conn_lion.cursor()
    
    def execute_query(self, sql): # insert, update, delete

In [ ]:
# CRUD Class
class CustomerCRUD:
    def __init__(self, db):
        self.db = db

    def create(self):
        
    def read(self):
        pass
    def update(self):
        pass
    def delete(self):
        pass